<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=fruit.name%></title> 
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/fruits/new"> Add a New Fruit</a>
    <h1><%=fruit.name%></h1>
    <% if(fruit.isReadyToEat){ %>
    <h3>This fruit is ready to eat!</h3>
    <% } else { %>
    <h3>This fruit is not ready to eat!</h3>
    <% } %>
    <form action="/fruits/<%=fruit._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= fruit.name %></button>
    </form>
    <h3><a href="/fruits/<%=fruit._id %>/edit">Edit <%= fruit.name %></a></h3>
    <h3><a href="/fruits">Back to All Fruits</a></h3>
  </body>
</html>
